body {
  background-color: maroon;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

div {
  background-color: white;
  max-width: 400px;
  margin: auto;
  padding: 25px 30px;
  border-radius: 15px;
}

h1 {
  color: maroon;
}

input,
span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

input {
  width: 75px;
}

button {
  background-color: gold;
  padding: 5px 10px;
  font-size: 18px;
  letter-spacing: 1.5px;
  border-radius: 10px;
}